
{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crabes et Écosystèmes de Guadeloupe</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Kavoon&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Crabes et Écosystèmes: <br> 
    Trouvez leur Habitat !</h1>
    
    <img src="{% static 'images/intro.jpg' %}" alt="Crabe de Guadeloupe" class="intro"><br>

    <p>"Apprenez à associer chaque crabe à son environnement et découvrez leur
        rôle écologique grâce à ce quiz visuel"</p>

    <div class="bar"></div>
    <a href="{% url 'start' %}" class="start-button">Commencer</a>

    <script src="{% static 'js/game.js' %}"></script>
</body>
</html>
